.core-attributes{
	width:50%;
}
table{
	float:left;
	table-layout: fixed;
	width:50%;
	border-spacing: 8px;
}

td{
	position:relative;
	text-align: center;
	width:3em;
	overflow:visible;
	border:2px solid black;
}

.hover-box{
	background-color: white;
	border:1px solid black;
	position:absolute;
	left:100%;
	top:0;
	z-index: 5;
}

th{
	color:white;
	background-color: black;
	font-weight: normal;
	font-size:18px;
}

.hp-row, .initiative-row{
	display:flex;
	margin-bottom: 4px;
}

.wound-box{
	height:100px;
	border:2px solid black;
	margin-bottom: 4px;
}

.nonlethal-box{
	height:50px;
	border:2px solid black;
	margin-bottom: 4px;
}

.init-label{
	flex-grow: 3;
	color: white;
	background-color: black;
	font-weight: normal;
	font-size: 18px;
	text-align: center
}

.init-total, .init-dex, .init-misc{
	width: 3em;
	flex-grow: 1;
	border: 2px solid black;
	margin-right: 5px;
	margin-left: 5px;
}

.hp-initiative{
	width:50%;
	float:right;
}

.hp-label{
	width:25%;
	color:white;
	background-color: black;
	font-weight: normal;
	font-size:18px;
	text-align: center;
}

.hp-total{
	width:50%;
	border:2px solid black;
	margin-right: 5px;
	margin-left: 5px;
}

.dr-box{
	width:25%;
	border:2px solid black;
}

.labels{
	font-size:10px;
	border:none;
}

p{
	margin:0;
	padding:0;
}